h1 {
  margin-top:.15in;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: white;
  padding: 25px;
  text-align: center;
}
#output {
  margin-left: .1in;
}
.btn {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color:white;
  padding: 25px;
  text-align: center;
}
label {
  font-family:'Courier New', Courier, monospace;
}